<div class="editBackground">
<div  style="margin: 24px 0;text-align: center;">

        <div class="warning-color" *ngIf="isWarning">
            <div>
                <md-icon color="warn">warning</md-icon>
            </div>
            <div  *ngIf="!validationError" style="color: white;"> {{resultMessage}}</div>
            <div  *ngIf="validationError">
                <ul>
                    <li *ngFor="let error of validationError">
                        {{error}}
                    </li>
                </ul>
            </div>
            <div>
                <md-icon color="warn" (click)="isWarning = false" style="cursor:pointer">cancel</md-icon>
            </div>


        </div>

                <div class="wrap">
                        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <fieldset>
                                <legend><h3>{{isEditMode?"Update": "Create"}} User</h3></legend>
                                <div>
                                        <img class="img-circle" [attr.src]='file_srcs' alt="Select profile Image" />
                                        <input type="file" name="profile_img" required   style="border: none;width: 200px;color: white;"
                                        (change)="fileChange(input)" #input />
                                </div>
                                    <input  name="firstName" type="text" [disabled]="isLoading" [(ngModel)]="user.firstName" placeholder="First Name" required/>
                                    <input  name="lastName" type="text" [disabled]="isLoading" [(ngModel)]="user.lastName" placeholder="Last Name" required/>
                                    <input  name="email" type="email" [email]="true" (blur)="validateEmail($event.target.value)" [disabled]="isLoading" [(ngModel)]="user.email" placeholder="Email" required/>
                                    <input  name="phone" type="number" [disabled]="isLoading" [(ngModel)]="user.phone" placeholder="Phone" required minlength="8"/>
                                    <input  type="password" name="password" [disabled]="isLoading" [(ngModel)]="user.password" placeholder="Password" required minlength="8">
                                    <input  type="password" name="confirmPassword" [disabled]="isLoading" [(ngModel)]="user.confirmPassword" placeholder="ConfirmPassword" required minlength="8">
                                    <md-hint *ngIf="user.password?.length <= 8">Password sholud be minimum 8 characters</md-hint><br/>
                                    <md-hint *ngIf="user.password !== user.confirmPassword" style="color:red">Passwords do not match</md-hint>
                            <div class="input-row" style="margin-top: 5%;">
                                    <md-select name="role" [disabled]="isLoading" style="width: 200px;color:white" [(ngModel)]="user.role" placeholder="Role" required>
                                        <md-option *ngFor="let role of roles" [value]="role.id"> {{role.label}}</md-option>
                                    </md-select>
                
                                    <md-slide-toggle  [disabled]="isLoading" name="isActive" [(ngModel)]="user.isActive" style="margin-left: 10%;color: white;font-weight: bolder;">
                                        Active
                                    </md-slide-toggle>
                            </div>
                            <div style="margin-top: 10%;">
                                    <button md-raised-button color="accent"  [disabled]="isSubmitting" type="submit"> {{isSubmitting ? isEditMode ? "Updating..." : "Creating..." :isEditMode ? "Update" : "Create"}}</button>
                                    <button md-raised-button [disabled]="isSubmitting" [routerLink]="['/users-list']">Cancel</button>
                            </div>

                            
                        </fieldset>
                        </form>
                    </div>

        
            <!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)"> -->

                    
                
                <!-- <div > -->
                    <!-- Profile Image -->
                    <!-- <div style="margin-bottom: 20px;">
                        <img class="img-circle" [attr.src]='file_srcs' alt="Select profile Image" />
                        <input type="file" name="profile_img" required (change)="fileChange(input)" #input />
                    </div>
                    <div>
                        <div>
                            <md-input-container>
                                <input mdInput name="firstName" [disabled]="isLoading" [(ngModel)]="user.firstName" placeholder="First Name" required>
                            </md-input-container>
                            <md-input-container style="margin-left: 10%;">
                                <input mdInput name="lastName" [disabled]="isLoading" [(ngModel)]="user.lastName" placeholder="Last Name" required>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <input mdInput name="email" type="email" [email]="true" (blur)="validateEmail($event.target.value)" [disabled]="isLoading" [(ngModel)]="user.email" placeholder="Email" required>
                            </md-input-container>
                            <md-input-container style="margin-left: 10%;">
                                <input mdInput name="phone" type="number" [disabled]="isLoading" [(ngModel)]="user.phone" placeholder="Phone" required minlength="8">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <input mdInput type="password" name="password" [disabled]="isLoading" [(ngModel)]="user.password" placeholder="Password" required minlength="8">
                                <md-hint *ngIf="user.password?.length <= 8 ">Password sholud be minimum 8 characters</md-hint>
                            </md-input-container>
                            <md-input-container style="margin-left: 10%;">
                                <input mdInput type="password" name="confirmPassword" [disabled]="isLoading" [(ngModel)]="user.confirmPassword" placeholder="ConfirmPassword" required minlength="8">
                                <md-hint *ngIf="user.password !== user.confirmPassword" style="color:red">Passwords do not match</md-hint>
                            </md-input-container>
                        </div>
                    </div>

                </div>

                <div class="input-row">
                    <md-select name="role" [disabled]="isLoading" style="width: 312px;" [(ngModel)]="user.role" placeholder="Role" required>
                        <md-option *ngFor="let role of roles" [value]="role.id"> {{role.label}}</md-option>
                    </md-select>

                    <md-slide-toggle  [disabled]="isLoading" name="isActive" [(ngModel)]="user.isActive" style="margin-left: 10%;">
                        Active
                    </md-slide-toggle>
                </div>

                <div class="input-row" style="margin-top: 5%;">
                    <button md-raised-button color="accent"  [disabled]="isSubmitting" type="submit"> {{isSubmitting ? isEditMode ? "Updating..." : "Creating..." :isEditMode ? "Update" : "Create"}}</button>
                    <button md-raised-button [disabled]="isSubmitting" [routerLink]="['/users-list']">Cancel</button>
                </div> -->

            <!-- </form> -->
</div>
</div>