<div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
    <md-card fxFlex="60">
        <md-card-title> {{isEditMode?"Update": "Create"}} User</md-card-title>

        <md-divider></md-divider>

        <div fxLayout="row" class="warning-color" *ngIf="isWarning">
            <div fxFlex="8" fxLayoutAlign="center center">
                <md-icon color="warn">warning</md-icon>
            </div>
            <div fxFlex *ngIf="!validationError"> {{resultMessage}}</div>
            <div fxFlex *ngIf="validationError">
                <ul>
                    <li *ngFor="let error of validationError">
                        {{error}}
                    </li>
                </ul>
            </div>
            <div fxFlex="5" fxLayoutAlign="center center">
                <md-icon color="warn" (click)="isWarning = false" style="cursor:pointer">cancel</md-icon>
            </div>


        </div>

        <md-card-content fxLayout="column">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div fxLayout="row">
                    <!-- Profile Image -->
                    <div fxLayout="column" fxFlex="20" class="flexitem">
                        <img class="img-circle" [attr.src]='file_srcs' alt="Select profile Image" />
                        <input type="file" name="profile_img" required (change)="fileChange(input)" #input />
                    </div>
                    <div fxFlex="80" fxFlex.gt-md="76" fxHide.lg="true" fxHide.gt-md="false" fxFlexOffset.gt-md="30" fxFlexOffset.gt-sm="35" fxFlexOffset="1">
                        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" fxLayoutAlign="end">
                            <md-input-container fxFlex>
                                <input mdInput name="firstName" [disabled]="isLoading" [(ngModel)]="user.firstName" placeholder="First Name" required>
                            </md-input-container>
                            <md-input-container fxFlex>
                                <input mdInput name="lastName" [disabled]="isLoading" [(ngModel)]="user.lastName" placeholder="Last Name" required>
                            </md-input-container>
                        </div>
                        <div fxLayout="column" fxLayout.gt-md="row" class="input-row" fxLayoutGap="10px">
                            <md-input-container fxFlex>
                                <input mdInput name="email" type="email" [email]="true" (blur)="validateEmail($event.target.value)" [disabled]="isLoading" [(ngModel)]="user.email" placeholder="Email" required>
                            </md-input-container>
                            <md-input-container fxFlex>
                                <input mdInput name="phone" type="number" [disabled]="isLoading" [(ngModel)]="user.phone" placeholder="Phone" required minlength="8">
                            </md-input-container>
                        </div>
                        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px">
                            <md-input-container fxFlex>
                                <input mdInput type="password" name="password" [disabled]="isLoading" [(ngModel)]="user.password" placeholder="Password" required minlength="8">
                                <md-hint *ngIf="user.password?.length <= 8 ">Password sholud be minimum 8 characters</md-hint>
                            </md-input-container>
                            <md-input-container fxFlex>
                                <input mdInput type="password" name="confirmPassword" [disabled]="isLoading" [(ngModel)]="user.confirmPassword" placeholder="ConfirmPassword" required minlength="8">
                                <md-hint *ngIf="user.password !== user.confirmPassword" style="color:red">Passwords do not match</md-hint>
                            </md-input-container>
                        </div>
                    </div>

                </div>

                <div fxLayout="column" fxFlexOffset="20" fxFlexOffset.gt-md="30" fxFlexOffset.gt-sm="35" fxLayout.gt-md="row" class="input-row">
                    <md-select name="role" [disabled]="isLoading" [(ngModel)]="user.role" placeholder="Role" fxFlex required>
                        <md-option *ngFor="let role of roles" [value]="role.id"> {{role.label}}</md-option>
                    </md-select>

                    <md-slide-toggle fxFlexOffset="7" [disabled]="isLoading" name="isActive" [(ngModel)]="user.isActive" fxFlex>
                        Active
                    </md-slide-toggle>
                </div>

                <div fxLayout="column" fxLayoutAlign="end center" fxLayout.gt-md="row" class="input-row">
                    <button md-raised-button color="accent" fxFlex="17" [disabled]="isSubmitting" type="submit"> {{isSubmitting ? isEditMode ? "Updating..." : "Creating..." :isEditMode ? "Update" : "Create"}}</button>
                    <button md-raised-button [disabled]="isSubmitting" [routerLink]="['/users-list']">Cancel</button>
                </div>

            </form>
        </md-card-content>

    </md-card>
</div>