 

.login {
    background: white;
    width: 380px;
}
  
.login-header {
      padding: 20px;
    }
  
.login-content {
      padding: 24px 42px 42px;
    }

md-input-container{
        width: 100%;
        margin: 6px 0;
}

md-form-field {
        width: 100%;
        margin: 6px 0;
}

button{
          margin:20px;
}
  
.extra-options {
        margin: 16px 0 32px;
}


       
     
        
  
     
  