
<!-- <md-sidenav-container class="example-container">
        <md-sidenav #sidenav class="example-sidenav">
                <md-nav-list>
                        <a md-list-item href="page1.html">Page 1</a>
                        <a md-list-item href="page2.html">Page 2</a>
                        <a md-list-item href="page3.html">Page 3</a>
                    </md-nav-list>
        </md-sidenav>

        <div class="example-sidenav-content">
          <button type="button" md-button (click)="sidenav.open()">
            Menu
          </button>
        </div>
      
</md-sidenav-container> -->
<div style="margin: -8px;">
<!-- <md-sidenav-container fullscreen>
        <md-sidenav mode="side" opened="true" #sidenav>
          <md-toolbar color="primary">AppLogo</md-toolbar>
        </md-sidenav>

        <div class="main-content">
          <md-toolbar color="primary" layout="row">
            <div flex layout="row" layout-align="start center">
              <span><button md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button></span>
            </div>
            <div style="margin-left: 55%;">
              <md-input-container>
                <input mdInput placeholder="Search">
              </md-input-container>
            </div>
            <div id="right_nav" fxFlex="15%">
              <span><button md-button><md-icon>add</md-icon> Create Project</button></span>
              <span><button md-button><md-icon>help</md-icon></button></span>
              <span><button md-button><md-icon>alarm</md-icon></button></span>
              <span><button md-button><md-icon>face</md-icon></button></span>
              <span><button md-button><md-icon>account_circle</md-icon></button></span>              
            </div>
          </md-toolbar>
        </div>
      </md-sidenav-container> -->
<router-outlet></router-outlet>
</div>